@import "../mixins";
@import "../variables";

.slider {
  position: relative;
  flex-grow: 2;
  overflow-x: hidden;

  &__dots {
    width: 100px;
    @include flexbox($mainAxis: space-between);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__dot:hover {
    background-color: #30454f;
  }

  &--arrows {
    display: none;
  }

  @media screen and (min-width: $screen-t) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &__dots {
      display: none;
    }

    &__slide {
      display: block;
    }

    &--arrows {
      display: flex;
      top: 25px;
      right: 50%;
      transform: translateX(480px);
    }
  }
}
