@import "../variables";

.slideshow {
  position: relative;
  display: none;

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    width: $screen-t;
  }

  &__slide {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &__text {
    left: 0;
    position: absolute;
  }

  &--slide-1 {
    background-image: url(../assets/slide-1.jpg);
  }

  &--slide-2 {
    background-image: url(../assets/slide-2.jpg);
  }

  &--slide-3 {
    background-image: url(../assets/slide-3.jpg);
  }

  @media screen and (min-width: $screen-t) {
    display: block;

    &--arrows {
      z-index: 2;
      left: 50%;
      transform: translateX(-480px);
      bottom: 70px;
    }
  }
}
