@import "../mixins";
@import "../variables";

.footer {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: white;
    margin: 0;
    padding: 22px 0 21px 20px;
  }

  &__text {
    text-align: center;
    font-size: 0.79em;
    line-height: 1.7em;
  }

  &__buttons {
    background-color: white;
    padding: 0 20px;
    height: 90px;
    display: flex;
    position: relative;
  }

  &__catalog {
    width: 280px;
    top: 67px;
  }

  &__button {
    margin: auto;
  }

  &__navbar {
    background-color: var(--color-dark);
    height: 465px;
  }

  &__info {
    height: 482px;
    background-color: var(--color-grey);
    padding: 0 20px;
  }

  &__infoboxes {
    height: 160px;
    @include flexbox(column, space-between, flex-start);
  }

  &__logo {
    padding: 35px 0 40px 0;
    display: flex;
    justify-content: center;
  }

  &--hidden {
    display: none;
  }

  @media screen and (min-width: $screen-t) {
    height: 500px;

    &__logo {
      justify-content: flex-start;
    }

    &__content {
      flex-direction: row;
      height: 100%;
    }

    &__buttons {
      background-color: var(--color-dark);
      padding: 0;
      height: 100%;
      display: block;
    }

    &__menu {
      order: 2;
      height: 100%;
      width: 60%;
      display: flex;
      background-color: var(--color-dark);
      align-items: center;
      justify-content: flex-start;
      padding-left: 80px;
      box-sizing: border-box;
    }

    &__navbar {
      height: 100%;
      width: 200px;
      margin-right: 70px;
    }

    &__info {
      height: 100%;
      width: 40%;
    }

    &__info-content {
      width: 300px;
      float: right;
    }

    &__catalog {
      top: 0;
    }

    &__text {
      text-align: left;
    }

    &--hidden {
      display: block;
    }
  }
}
